<div class="page-title-box">
    <h4 class="page-title">{{titlePage}}</h4>
    <div class="clearfix"></div>
</div>
<button type="button" routerLink="/user-api-add" class="btn btn-default waves-effect waves-light">Add User</button>

<table class="table table table-hover m-0">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody *ngIf="users">
        <tr *ngFor="let each of users">
            <td class="user{{each.id}}">{{each.id}}</td>
            <td> {{ each.name }}</td>
            <td>
                <div style="display: inline-block">
                    <a [routerLink]="['/user-api', each.id]">
                        <button class="btn_edit">
                            <i class="ion-edit"></i>
                        </button>
                    </a>
                    <a (click)="delete(each.id)" class="btn_delete">
                        <button type="button" class="btn_del">
                            <i class="ion-trash-a"></i>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
