
<div *ngIf="movie" class="row">
    <div class="col-xs-4 mt-15">
        <div className="panel panel-warning">
            <h5>Bạn đã chọn phim:</h5> 
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center stt">Id</th>
                  <th class="text-center">Tên</th>
                  <th class="text-center">Năm</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td class="movie-id1" id="movie-id">
                      {{movie.id}}
                  </td>
                  <td class="movie-name1" id="movie-name"> 
                      {{movie.name}}
                  </td>
                  <td class="movie-year1" id="movie-year"> 
                        {{movie.year}}
                  </td>
                </tr>
              </tbody>
            </table>

            <div className="panel-body">

              <form novalidate class="row justify-content-md-center" #form="ngForm" >
                <div class="col-md-8">
                  <div class="form-group name-group row">
                    <label for="name-movie-input" class="col-md-2 col-form-label">Tên phim:</label>
                    <div class="col-md-10">
                      <input  required minlength="3"  
                              name="name2" id="name2" 
                              class="form-control name" type="text" 
                              [(ngModel)]="movie.name"
                              #name2="ngModel"
                      >
                      <!-- validate -->
                        <div *ngIf="name2.invalid && (name2.dirty || name2.touched)"
                        class="alert alert-danger mt-5">
                            <div *ngIf="name2.errors.required">
                              Không được để trống tên phim.
                            </div>
                            <div *ngIf="name2.errors.minlength">
                              Độ dài của tên phim tối thiểu 3 kí tự.
                            </div>
                        </div> 
                      <!-- end validate  -->
                    </div>
                  </div>
                  <div class="form-group year-group row">
                    <label for="year-input" class="col-md-2 col-form-label">Năm:</label>
                    <div class="col-md-10">
                      <input class="form-control" type="number" 
                              id="year-input" 
                              [(ngModel)]="movie.year" 
                              name="year"
                              required
                              pattern="^[1-9]+[0-9]*$"
                              #year2="ngModel"
                      >
                      <!-- validate -->
                      <div *ngIf="year2.invalid && (year2.dirty || year2.touched)"
                      class="alert alert-danger">
                          <div *ngIf="year2.errors.required">
                            Không được để trống năm sẳn xuất
                            </div>
                      </div> 
                    <!-- end validate  -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                      <!-- <button class="btn btn-primary" type="submit">Save</button> -->
                      <button class="btn btn-primary mr-15 save" 
                             (click)="save()" 
                             [disabled]="!enabled" 
                             [disabled]="!form.valid"
                             id="btnSave"
                            > Lưu</button>
                      <button title="xóa phim"
                              class="btn btn-danger mr-15 delete"
                              (click)="delete(movie.id)"
                              >Xóa </button>
                      <button class="goBack btn btn-info " 
                              id="goBack" (click)="goBack();"
                              >quay lại</button>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
</div>