<div *ngIf="movie" class="details"> 
    <!-- /* kiểm tra nếu thẻ div này != null (tồ tại) thì hiện thẻ div này ra/* -->
    <h3>Bạn đã chọn phim: {{movie.name}} . Details</h3>
    <table>
      <tr>
        <td>name: </td>
        <td><input type="text" [(ngModel)]="movie.name"></td>
      </tr>
      <tr>
        <td>Year</td>
        <input type="text" [(ngModel)]="movie.year">
      </tr>
    </table>
    <button (click)="save()">Lưu</button>
    <button (click)="goBack()">quay lại</button>

</div>
