<div class="row mt-20">
  <div class="row pl-20">
    <h2>Phim yêu thích </h2>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div className="panel panel-warning">
                <div className="panel-body">
                  <form name="formAdd" #formAdd="ngForm">
                      <div class="form-group">
                          <label>Tên phim: </label>
                          <input class="form-control" 
                                  id='movie-name-input'  
                                  #movieName 
                                  placeholder="Tên phim"
                                  name="name2"
                                  [(ngModel)]="movieName.value"
                                  #name2="ngModel"
                                  required
                                  minlength="3"
                                  >
                                   <!-- validate -->
                            <div *ngIf="name2.invalid && (name2.dirty || name2.touched)"
                                class="alert alert-danger mt-5 "
                                id='validate-name'
                              >
                                  <div *ngIf="name2.errors.required">
                                    Không được để trống tên phim.
                                  </div>
                                  <div *ngIf="name2.errors.minlength">
                                    Độ dài của tên phim tối thiểu 3 kí tự.
                                  </div>
                              </div> 
                      <!-- end validate  -->
                          <label class="mt-5" for="">Năm sản xuất: </label>
                          <input #yearMovie 
                                  placeholder="Năm sx"
                                  class="form-control" 
                                  required
                                  id='movie-year-input'
                                  type="number"
                                  [(ngModel)]="yearMovie.value"
                                  name="year2"
                                  #year2="ngModel"
                          >
                          <!-- validate -->
                            <div *ngIf="year2.invalid && (year2.dirty || year2.touched)"
                            class="alert alert-danger">
                                <div *ngIf="year2.errors.required">
                                  Không được để trống năm sẳn xuất
                                </div>
                            </div> 
                          <!-- end validate  -->
                          <div class="">
                              <button style="float: right;" 
                              [disabled]="!formAdd.valid"
                              class="btn btn-primary mt-15 btnAdd" 
                              (click)="add(movieName.value, yearMovie.value); movieName.value=''; yearMovie.value=''">
                                  Thêm
                              </button>
                          </div>
                        </div>
                  </form>
              </div>
            </div>
      </div>
  </div>
  <div class="row mt-20">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center stt">STT</th>
              <th class="text-center">Tên</th>
              <th class="text-center">Năm</th>
              <th class="text-center">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let eachMovie of movies">
              <td class="text-center">
                  {{eachMovie.id}}
              </td>
              <td class="onSelect" 
                  id='onSelect{{eachMovie.id}}' 
                  [class.selected]="eachMovie === selectedMovie"
                  (click)="onSelect(eachMovie)"> 
                  {{eachMovie.name}}
              </td>
              <td class="text-center"> 
                    {{eachMovie.year}}
              </td>
              <td class="text-center">
                <button title="xóa phim"
                        class="btn btn-warning mr-15 btnEdit"
                        id='btnEdit{{eachMovie.id}}' >
                  <a routerLink="/detail/{{eachMovie.id}}">
                    Sửa
                  </a>
                </button>
                <button title="xóa phim"
                        class="btn btn-danger btnDelete"
                        id='btnDelete{{eachMovie.id}}'
                        (click)="delete(eachMovie.id)">
                  Xóa
                </button> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-movie-info [movie]="selectedMovie"></app-movie-info>
  </div>
</div>
