.movies{
    background: #45A7B0;
    padding: 0.5em 1em 0.5em 1.5em;
    margin: 1em;
  }
  
  .movies .movieListItem {
    font-size: 0.85em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.3em;
    margin: 0.2em;
    text-align: left;
    background: #cccc
  }
  .selected{
    background: rgb(95, 154, 243) !important;
    color: white;
  }
  .parent {
    display: left;
  }
  .details {
    background: bisque;
    color: cornflowerblue;
    padding: 0.5em;
    margin: 1em;
    text-align: left;
    font-size: 0.85em;
  }
  .mt-5{
    margin-top: 5px;
  }
  .mt-15{
    margin-top: 15px;
  }
  .mt-20{
    margin-top: 20px;
   }
  .mr-15 {
    margin-right: 15px;
  }
  .pl-20 {
    padding-left: 15px;
  }
