<br>
<h1 style="text-align: center;">Thông tin nhân viên</h1>
<br>
<div class="col-lg-3" style="float: left; margin-top: -68px;">
        <button (click)="goBack();" class="btn-success form-control goBack" >Quay lại</button>
</div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">ID Employee</th>
            <th class="text-center">Name</th>
            <th class="text-center">Team</th>
            <th class="text-center">Score</th>
            <th class="text-center">Sửa</th>
            <th class="text-center">Xóa</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngIf = "employee" id="showInforEmployee" class="odd gradeX" style="text-align: center;">
            <td>{{employee.id_employee}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.team}}</td>
            <td>{{employee.score}}</td>
            <!-- <td class="center"><i class="fa fa-pencil fa-fw"></i> <a routerLink="/employee/edit/{{employee.id}}" >Edit</a></td> -->
            <td class="center"><i class="fa fa-pencil fa-fw"></i> <a (click)="getInforEdit(employee)" class="edit" style="cursor: pointer;" >Edit</a></td>            
            <td (click)="delete(employee.id);" class="delete" style="cursor: pointer;"><i class="fa fa-trash-o  fa-fw"></i><a >Delete</a></td>
        </tr>       
    </tbody>
</table>
<!-- <router-outlet></router-outlet> -->
<app-edit-employee [employee]="editEmployee"></app-edit-employee>
