<h1 style="text-align: center">Danh sách nhân viên Fresher</h1>
<div class="col-lg-3" style="float: right; margin-top: -50px;">
    <button onclick="showForm()"class="btn-success form-control themNhanVien" >Thêm mới nhân viên</button>
</div>
<div class="row hidden" id="formInsert">
    <form [formGroup]='employeeFormGroup' novalidate (ngSubmit)="onClickSubmit(employeeFormGroup.value)" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-push-1 col-sm-push-1 col-md-push-1 col-lg-push-1 ">
        <label>Tên nhân viên</label>
        <div class="form-group">
            <input #nameEmployee type="text" class="form-control" name="name" formControlName='name' placeholder="Tên nhân viên" required>
        </div>
        <label>Mã số nhân viên</label>
        <div class="form-group">
            <input #idEmployee type="text" class="form-control" name="id_employee" formControlName='id_employee' placeholder="Mã số nhân viên" required>
        </div>
        <label>Team</label>
        <div class="form-group">
            <select class="form-control" formControlName='team'>
                    <option #teamEmployee *ngFor='let team of teams' name="team" [value]='team' required>{{team}}</option>
            </select>
        </div>
        <label>Score</label>
        <div class="form-group">
            <input #scoreEmployee type="text" class="form-control" name="score" formControlName='score' placeholder="Điểm số" >
        </div>
        <button class="btn btn-success btn-block" type="submit" [disabled]='employeeFormGroup.status == "INVALID"' >Thêm mới</button>
        <button class="btn btn-primary btn-block" type="reset">Làm mời</button>
    </form>
    
</div>
<div class="container employee">
    <div class="row employeeRow">
        <a class="col-lg-4 oneEmployee"
            *ngFor='let eachEmployee of employees'
            [routerLink] ="['/employee', 'detail', eachEmployee.id]"
        >
            <p class="name">{{eachEmployee.name}}</p>
            <p class="team">{{eachEmployee.team}}</p>
        </a>
    </div>
</div>