.oneEmployee {
    background: rgb(238, 232, 232);
    color: black;
    border-radius: 20px;
    text-align: center;
    height: 100px;
    margin: 5px;
    width: 300px;
}
.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 18px;
}
.team {
    font-size: 15px;
    font-weight: 500;
}

.employeeRow{
    margin-left: 70px;
    text-align: center;
}
.addNhanVien{
    display: none;
    visibility: hidden;   
}