<div *ngIf = "employee" class="row" id="formInsert">
    <form class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-push-1 col-sm-push-1 col-md-push-1 col-lg-push-1 ">
        <label>Tên nhân viên</label>
        <div class="form-group">
            <input [(ngModel)]="employee.name" name="name" type="text" class="form-control"  placeholder="Tên nhân viên" required>
        </div>
        <label>Mã số nhân viên</label>
        <div class="form-group">
            <input [(ngModel)]="employee.id_employee" name="id_employee"  class="form-control"  placeholder="Mã số nhân viên" required>
        </div>
        <label>Team</label>
        <div class="form-group">
            <select class="form-control" [(ngModel)]="employee.team" name="teams" >
                    <option id="teamEmployee" *ngFor='let team of teams' [ngValue]="team" required
                            [selected]="team == employee.team"
                    >
                        {{team}}
                    </option>
            </select>
        </div>
        <label>Score</label>
        <div class="form-group">
            <input [(ngModel)]="employee.score" name="score" type="text" type="text" class="form-control" placeholder="Điểm số" >
        </div>
        <button
                class="btn btn-primary btn-block update"
                (click)="saveUpdate()"
                >
            Update
        </button>
    </form>
    
</div>
