<div class="page-title-box">
    <h4 class="page-title">{{titlePage}}</h4>
    <div class="clearfix"></div>
</div>
<div *ngIf="user">
    <form [formGroup] = "formEditUser" (ngSubmit)="save()">
        
        <div class="form-group m-b-20 ">
            <label for="exampleInputName">Name</label>
            <input formControlName='name'
            type="text"
            name="name"
            class="form-control"
            id="exampleInputName"
            placeholder="Enter title"
            required=""
            value="{{user.name}}">
        </div>
        
    
        <div class="form-group m-b-20">
            <label for="exampleInputEmail">Email</label>
            <input formControlName='email'
            type="text"
            name="email"
            class="form-control"
            id="exampleInputEmail"
            placeholder="Static Link"
            value="{{user.email}}">
        </div>
    
        <div class="form-group m-b-20">
            <label for="exampleInputPhone">Phone Number</label>
            <input formControlName='phone_number'
            type="text"
            name="phone"
            class="form-control"
            id="exampleInputPhone"
            placeholder="Static Link"
            value="{{user.phoneNumber}}">
        </div>
    
        <button type="button"
        (click)="goBack()"
        class="btn btn-danger waves-effect waves-light">Back</button>
        <button type="submit"
        id="save_post"
        class="btn btn-info waves-effect waves-light">Update</button>
    </form>
</div>

